[project]
name = "openslide-bin"
version = "@version@"
maintainers = [
    {name = "OpenSlide project", email = "openslide-users@lists.andrew.cmu.edu"}
]
description = "Binary build of OpenSlide"
readme = "artifacts/python/README.md"
license = {text = "GNU Lesser General Public License, version 2.1"}
keywords = ["OpenSlide", "whole-slide image", "virtual slide", "library"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Healthcare Industry",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU Lesser General Public License v2 (LGPLv2)",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Typing :: Typed",
]
requires-python = ">= 3.8"

[project.urls]
Homepage = "https://openslide.org/"
# use GitHub Releases page because it has subproject versions
"Release notes" = "https://github.com/openslide/openslide-bin/releases"
Repository = "https://github.com/openslide/openslide-bin"

[build-system]
# The sole purpose of this build is to fail.  See comment in meson.build.
build-backend = "mesonpy"
requires = ["meson-python"]

[tool.meson-python.args]
setup = ['-Dpep517=true']
