/openslide-bin-*
/override
/work

__pycache__

# ignore package cache and unpacked packages
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles

# ignore promoted wraps
subprojects/gvdb.wrap
