# build dirs
linux
mac
win
32
64
override
openslide-win*

# ignore package cache and unpacked packages
/meson/subprojects/*
!/meson/subprojects/*.wrap
!/meson/subprojects/packagefiles

# ignore promoted wraps
meson/subprojects/gvdb.wrap
*.tar.gz
*local
openslide-*
.gradle
build
tmp
