# Build stable releases on push to openslide-bin main.
# Nightly builds from Git are handled elsewhere.

name: Build main

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  pre-commit:
    name: Rerun pre-commit checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.0
  setup:
    name: Set up
    runs-on: ubuntu-latest
    outputs:
      linux_builder_repo_and_digest: ${{ steps.find-linux.outputs.builder_repo_and_digest }}
      suffix: ${{ steps.params.outputs.suffix }}
      windows_builder_repo_and_digest: ${{ steps.find-windows.outputs.builder_repo_and_digest }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Find Linux builder container digest
        id: find-linux
        uses: ./.github/find-container-digest
        with:
          builder_image: linux
      - name: Find Windows builder container digest
        id: find-windows
        uses: ./.github/find-container-digest
        with:
          builder_image: windows
      - name: Calculate parameters
        id: params
        run: echo "suffix=$(date +%Y%m%d).bin.main.$(echo ${{ github.sha }} | cut -c-7)" >> $GITHUB_OUTPUT

  stable:
    name: Stable
    needs: setup
    uses: ./.github/workflows/build.yml
    with:
      linux_builder_repo_and_digest: ${{ needs.setup.outputs.linux_builder_repo_and_digest }}
      macos_enable: true
      openslide_bin_repo: ${{ github.repository }}
      openslide_bin_ref: ${{ github.ref }}
      suffix: ${{ needs.setup.outputs.suffix }}
      windows_builder_repo_and_digest: ${{ needs.setup.outputs.windows_builder_repo_and_digest }}
